body {
  background-color: black;
  color: seashell;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  opacity: 0.9;
  margin: 0;
}

.header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex; 
  height: 69px;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  opacity: 0.8;
  width: 100%;
}

#logo {
  padding-left: 10px;
  height: 50px;
}

.navlink {
  color: seashell; 
}

nav {
  padding-right: 10px;
}

nav ul {
  text-align: right;
}

nav ul li {
  text-decoration: underline;
  display: inline;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 69px;
  background-image: url("./img-mission-background.jpg");
  background-size: cover;
  height: 700px;
  width: 1200px;
  max-width: 100%;
  align-items: center;
}

#mission div {
  background-color: black;
  width: 100%;
  text-align: center;
}

#mission div h2, #mission div h4 {
  font-weight: 1000;
  margin: 18px auto;
}


#teaofmonth {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  align-items: center;
  max-width: 100%;
}

#teaofmonth div {
  background-color: black;
  width: 100%;
  text-align: center;
  line-height: 0.8;
}

#teaofmonth div ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#teaofmonth div ul li{
  display: inline;
}

#teaofmonth div ul li img {
  width: 300px;
  height: 200px;
}

.caption {
  font-weight: bold;
}

#locations {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
  background-image: url("./img-locations-background.jpg");
  background-size: cover;
  min-height: 550px;
  width: 1200px;
  max-width: 100%;
  padding-top: 1rem;
}

#locations h2 {
  margin: 0 auto;
  width: min-content;
}

.loc {
  display: inline-block;
  width: 300px;
  opacity: 1;
  background: black;
  margin-top: 15px;
  margin-right: 20px;
  margin-left: 20px;
  line-height: 2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.loc h3 {
  margin: 0 auto;
}

#contact {
  width: 100%;
  height: 200px;
  text-align: center;
}

#copyright {
  padding-left: 20px;
  text-align: left;
}
